{% include 'header' %}

enum {{ prefix }}{{ module_info.name }}ModuleBuilder {
    
    static func module() -> {{ prefix }}{{ module_info.name }}ViewController {
        let router = {{ prefix }}{{ module_info.name }}Router()
        let interactor = {{ prefix }}{{ module_info.name }}Interactor()
        let viewModel = {{ prefix }}{{ module_info.name }}ViewModel(router: router, interactor: interactor)
        let viewController = {{ prefix }}{{ module_info.name }}ViewController(viewModel: viewModel)
        router.transitionHandler = viewController
        
        return viewController
    }
}
