{% include 'header' %}

import UIKit

final class {{ prefix }}{{ module_info.name }}ViewController: UIViewController {
    
    private let presenter: {{ prefix }}{{ module_info.name }}Presenter
    
    // MARK: - Lifecycle

    init(presenter: {{ prefix }}{{ module_info.name }}Presenter) {
        self.presenter = presenter
        super.init(nibName: nil, bundle: nil)
    }
    
    required init?(coder aDecoder: NSCoder) {
        fatalError("init(coder:) has not been implemented")
    }
    
    override func viewDidLoad() {
        super.viewDidLoad()
        presenter.viewReadyEventTriggered()
    }
}
